@media (max-width: 1024px) {
    /*---------------
        Main styles
    ---------------*/
    .page_title{
        font-size: 45px;
    }


    .link_btn{
        text-align: center;
    }

    /*---------------
        Header
    ---------------*/

    /*---------------
        Main section
    ---------------*/
    .sect_form{
        padding: 50px 0 80px;
    }


    .matrix-diagram__number{
        font-size: 16px;
    }


    .resultBlock .cont{
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .resultBlock .data{
        width: 100%;
        margin-top: 50px;
    }

    .resultBlock .schemeBlock{
        width: 680px;
    }


    /*---------------
        Footer
    ---------------*/

}
