@media (max-width: 767px){
    /*---------------
        Main styles
    ---------------*/
    
    /*---------------
        Header
    ---------------*/

    /*---------------
        Main section
    ---------------*/
    .sect_form .page_title{
        margin-bottom: 50px;
    }


    .matrix-diagram__number {
        font-size: 12px;
    }

    .matrix-diagram__circle.-size-lg{
        font-size: 28px;
        padding-bottom: 2%;
    }

    .matrix-diagram__circle.-size-md{
        font-size: 18px;
        padding-bottom: 1.3%;
    }

    .matrix-diagram__circle.-size-sm{
        font-size: 14px;
    }


    .resultBlock{
        padding-bottom: 50px;
    }

    /*---------------
        Footer
    ---------------*/
    
}
