@media (max-width: 1199px){
    /*---------------
        Main styles
    ---------------*/

    /*---------------
        Header
    ---------------*/

    /*---------------
        Main section
    ---------------*/
    .matrix-diagram__number{
        font-size: 14px
    }


    .resultBlock .schemeBlock{
        width: 580px;
    }

    .resultBlock .data {
        width: calc(100% - 610px);
    }

    /*---------------
        Footer
    ---------------*/
    
}
