*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after{
    box-sizing: border-box;
}

img{
    border: none;
}

textarea{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active{
    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input[type=submit],
button[type=submit],
input[type=reset],
button[type=reset]{
    -webkit-border-radius: 0;

    -webkit-appearance: none;
}

:focus{
    outline: none;
}

:hover,
:active{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}


::-ms-clear{
    display: none;
}



/*---------------
    Main styles
---------------*/
:root{
    --scroll_width: 17px;
    --font_family: 'Playfair Display', serif;
}



.clear{
    clear: both;
}


.left{
    float: left;
}


.right{
    float: right;
}


html{
    height: 100%;

    background: #BF9100;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html.page_result{
    background: #fff;
}


body{
    color: #fff;
    font: 18px/1.2 var(--font_family);

    height: 100%;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

html.page_result body{
    color: #000;
}

body.lock{
    overflow: hidden;
}


.wrap{
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-height: 100%;
}


.main{
    flex: 1 0 auto;
}


.cont{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


.compensate-for-scrollbar{
    margin-right: var(--scroll_width) !important;
}


.lozad{
    transition: .5s linear;

    opacity: 0;
}

.lozad.loaded{
    opacity: 1;
}


.flex{
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}


::-webkit-input-placeholder{
    color: #ccc;
}

:-moz-placeholder{
    color: #ccc;
}

:-ms-input-placeholder{
    color: #ccc;
}



.form .label{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 8px;
}


.form .label .asterisk{
    color: #fff;
}

.form .line_flex{
    justify-content: space-between;
}

.form .line_form{
    margin-bottom: 30px;
}

.form .line_flex .line_form{
    width: calc(50% - 15px);
}

.form .input{
    color: #000;
    font: 700 18px var(--font_family);

    display: block;

    width: 100%;
    height: 50px;
    padding: 0 20px;

    transition: .2s linear;

    background: #fff;
    border-radius: 10px;
    border: none;
}

.form textarea{
    color: #000;
    font: 16px var(--font_family);

    display: block;

    width: 100%;
    height: 177px;
    padding: 18px 15px;

    resize: none;
    transition: .2s linear;

    background: #fff;
    border-radius: 10px;
}

.form .success,
.form .success + .nice-select .current{
    border-color: green;
}

.form .error,
.form .error + .nice-select .current{
    border-color: red;
}


.form .input:disabled,
.form textarea:disabled,
.checkbox .label_check input[type=checkbox]:disabled + .check_text{
    cursor: default;
    pointer-events: none;

    opacity: .5;
}


.form .error_text{
    color: #fff;
    font-size: 18px;
    line-height: normal;

    margin-top: 6px;
    display: none;
}

.form .submit_btn{
    font: 700 20px var(--font_family);

    position: relative;

    display: block;

    width: 100%;
    height: 70px;

    cursor: pointer;
    transition: .2s linear;
    vertical-align: top;

    border: none;
    border-radius: 10px;
    color: #fff;

    background: #000;
}

.form .submit_btn:hover{
    color: #000;
    background: #fff;
}


.form .agree{
    color: #000;
    font-size: 14px;
    line-height: 20px;

    margin-top: 22px;
}

.form .agree a{
    color: #000;

    display: inline-block;

    transition: .2s linear;
    text-decoration: none;
}

.form .agree a:hover{
    color: #111;
}


.supports_error{
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show{
    display: flex;
}


.page_title{
    font-size: 50px;
    font-family: var(--font_family);
}

.page_title span{
    font-size: 25px;
    color: #000;
}

.page_title.center{
    text-align: center;
}


* + .link_btn{
    margin-top: 30px;
}

.link_btn a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 60px;
    padding: 0 25px;
    text-align: center;
    border-radius: 10px;
    background: #BF9100;
    color: #fff;
    transition: 0.2s linear;
    text-decoration: none;
}

.link_btn a:hover{
    background: #e5ae00;
}

/*---------------
   Header
---------------*/
header{
    position: relative;
    padding: 50px 0;
}

/*---------------
   Main section
---------------*/
.sect_form{
    padding: 80px 0;
}

.sect_form .page_title{
    margin-bottom: 60px;
    padding: 0 15px;
}

.sect_form .cont{
    max-width: 600px;
}


.back_link{
    margin-top: 30px;
}

.back_link a{
    color: #000;
    text-decoration: none;
    transition: 0.2s linear;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.back_link a .icon{
    margin-right: 15px;
    transform: rotate(180deg);
}

.back_link a:hover{
    color: #8246c5;
}


.schemeBlock{}

.schemeBlock img{
    display: block;
    max-width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.matrix-diagram__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 5;
    border-radius: 50%;
    border: 2px solid transparent;
    background-color: #CACACE;
    color: #A3A3A6;
    font-weight: 500;
    line-height: .8;
    padding-bottom: 1%;
    text-align: center;
    transition: color 0.3s,background-color 0.3s,border-color 0.3s;
}

.matrix-diagram__circle.-position-a {
    top: 50%;
    left: 3.9%;
    transform: translate(0,-50%);
}

.matrix-diagram__circle.-position-a1 {
    top: 50%;
    left: 19.4%;
    transform: translate(0,-50%);
}

.matrix-diagram__circle.-position-a2 {
    top: 50%;
    left: 13%;
    transform: translate(0,-50%);
}

.matrix-diagram__circle.-position-a3 {
    top: 50%;
    left: 32.4%;
    transform: translate(0,-50%);
}

.matrix-diagram__circle.-position-b {
    top: 3.9%;
    left: 50%;
    transform: translate(-50%,0);
}

.matrix-diagram__circle.-position-b1 {
    top: 19.5%;
    left: 50%;
    transform: translate(-50%,0);
}

.matrix-diagram__circle.-position-b2 {
    top: 13.1%;
    left: 50%;
    transform: translate(-50%,0);
}

.matrix-diagram__circle.-position-b3 {
    top: 32.5%;
    left: 50%;
    transform: translate(-50%,0);
}

.matrix-diagram__circle.-position-a1b1 {
    top: 31.9%;
    left: 31.9%;
    transform: translate(-50%,-50%);
}

.matrix-diagram__circle.-position-c1 {
    top: 50.1%;
    right: 19.5%;
    transform: translate(0,-50%);
}

.matrix-diagram__circle.-position-c {
    top: 50.1%;
    right: 4%;
    transform: translate(0,-50%);
}

.matrix-diagram__circle.-position-c1 {
    top: 50.1%;
    right: 19.5%;
    transform: translate(0,-50%);
}

.matrix-diagram__circle.-position-c2 {
    top: 50.1%;
    right: 13.1%;
    transform: translate(0,-50%);
}

.matrix-diagram__circle.-position-d {
    bottom: 3.9%;
    left: 50%;
    transform: translate(-50%,0);
}

.matrix-diagram__circle.-position-d1 {
    bottom: 19.5%;
    left: 50%;
    transform: translate(-50%,0);
}

.matrix-diagram__circle.-position-d2 {
    bottom: 13.1%;
    left: 50%;
    transform: translate(-50%,0);
}

.matrix-diagram__circle.-position-e {
    top: 50%;
    left: 49.9%;
    transform: translate(-50%,-50%);
}

.matrix-diagram__circle.-position-e1 {
    top: 50%;
    right: 39.2%;
    transform: translate(0,-50%);
}

.matrix-diagram__circle.-position-e2 {
    top: 50%;
    right: 34.7%;
    transform: translate(0,-50%);
}

.matrix-diagram__circle.-position-f {
    top: 16%;
    left: 16.2%;
}

.matrix-diagram__circle.-position-g {
    top: 16.1%;
    right: 16.1%;
}

.matrix-diagram__circle.-position-y {
    bottom: 15.9%;
    right: 16.3%;
}

.matrix-diagram__circle.-position-p1 {
    top: 27.8%;
    right: 27.8%;
}

.matrix-diagram__circle.-position-p2 {
    top: 23%;
    right: 23%;
}

.matrix-diagram__circle.-position-p3 {
    bottom: 27.8%;
    left: 27.8%;
}

.matrix-diagram__circle.-position-p4 {
    bottom: 23%;
    left: 23%;
}

.matrix-diagram__circle.-position-k {
    bottom: 16.1%;
    left: 16%;
}

.matrix-diagram__circle.-position-s1 {
    top: 27.8%;
    left: 27.8%;
}

.matrix-diagram__circle.-position-s2 {
    top: 23%;
    left: 23%;
}

.matrix-diagram__circle.-position-s3 {
    bottom: 23%;
    right: 23%;
}

.matrix-diagram__circle.-position-s4 {
    bottom: 27.8%;
    right: 27.8%;
}

.matrix-diagram__circle.-position-x {
    bottom: 33.7%;
    right: 33.7%;
}

.matrix-diagram__circle.-position-x1 {
    bottom: 26.6%;
    right: 40.7%;
}

.matrix-diagram__circle.-position-x2 {
    bottom: 40.6%;
    right: 26.6%;
}


.matrix-diagram__circle.-size-lg {
    width: 9.143%;
    height: 9.143%;
    font-size: 30px;
}

.matrix-diagram__circle.-size-md {
    width: 6.4%;
    height: 6.4%;
    font-size: 22px;
}

.matrix-diagram__circle.-size-sm {
    width: 4.572%;
    height: 4.572%;
    font-size: 18px;
    line-height: 1;
    padding-top: 0.5%;
}

.matrix-diagram__circle {
    color: #fff;
}

.matrix-diagram__circle.-purple {
    background-color: #8a46a3;
    border-color: #8a46a3;
}

.matrix-diagram__circle.-blue {
    background-color: #526DFA;
    border-color: #526DFA;
}

.matrix-diagram__circle.-cyan {
    background-color: #45CFE1;
    border-color: #45CFE1;
}

.matrix-diagram__circle.-green {
    background-color: #AFDE61;
    border-color: #AFDE61;
}

.matrix-diagram__circle.-red {
    background-color: #EF4141;
    border-color: #EF4141;
}

.matrix-diagram__circle.-orange {
    background-color: #FFAE34;
    border-color: #FFAE34;
}

.matrix-diagram__circle.-yellow {
    background-color: #FFED47;
    border-color: #FFED47;
    color: #222831;
}

.matrix-diagram__circle.-white {
    background-color: #fff;
    border-color: #222831;
    color: #222831;
}

.matrix-diagram__number {
    position: absolute;
    font-size: 16px;
    z-index: 10;
    min-width: 14px;
    text-align: center;
}

.matrix-diagram__number.-bold {
    font-weight: 700;
}

.matrix-diagram__number.-position-b8 {
    top: 3.3%;
    right: 40.2%;
}

.matrix-diagram__number.-position-b7 {
    top: 4.8%;
    right: 36.9%;
}

.matrix-diagram__number.-position-k2 {
    top: 5.8%;
    right: 33.6%;
}

.matrix-diagram__number.-position-k1 {
    top: 7.4%;
    right: 30.5%;
}

.matrix-diagram__number.-position-k4 {
    top: 8.8%;
    right: 27.2%;
}

.matrix-diagram__number.-position-k3 {
    top: 9.9%;
    right: 24.3%;
}

.matrix-diagram__number.-position-k5 {
    top: 11.4%;
    right: 21%;
}

.matrix-diagram__number.-position-k8 {
    top: 21.9%;
    right: 10.5%;
}

.matrix-diagram__number.-position-k7 {
    top: 25.2%;
    right: 9.2%;
}

.matrix-diagram__number.-position-k6 {
    top: 28.3%;
    right: 7.8%;
}

.matrix-diagram__number.-position-c4 {
    top: 31.2%;
    right: 6.5%;
}

.matrix-diagram__number.-position-c6 {
    top: 34.3%;
    right: 5.4%;
}

.matrix-diagram__number.-position-c5 {
    top: 37.5%;
    right: 4%;
}

.matrix-diagram__number.-position-c7 {
    top: 41.2%;
    right: 2.3%;
}

.matrix-diagram__number.-position-y3 {
    bottom: 40.2%;
    right: 2.8%;
}

.matrix-diagram__number.-position-y2 {
    bottom: 37.3%;
    right: 4%;
}

.matrix-diagram__number.-position-y4 {
    bottom: 34%;
    right: 5.2%;
}

.matrix-diagram__number.-position-y1 {
    bottom: 30.8%;
    right: 6.5%;
}

.matrix-diagram__number.-position-y6 {
    bottom: 27.7%;
    right: 7.7%;
}

.matrix-diagram__number.-position-y5 {
    bottom: 24.2%;
    right: 9.2%;
}

.matrix-diagram__number.-position-y7 {
    bottom: 20.8%;
    right: 10.5%;
}

.matrix-diagram__number.-position-d6 {
    bottom: 11.1%;
    right: 21%;
}

.matrix-diagram__number.-position-y8 {
    bottom: 9.7%;
    right: 24.3%;
}

.matrix-diagram__number.-position-d5 {
    bottom: 8.4%;
    right: 27.4%;
}

.matrix-diagram__number.-position-d4 {
    bottom: 6.5%;
    right: 31.3%;
}

.matrix-diagram__number.-position-d8 {
    bottom: 5.1%;
    right: 35%;
}

.matrix-diagram__number.-position-d7 {
    bottom: 3.7%;
    right: 38.7%;
}

.matrix-diagram__number.-position-d9 {
    bottom: 2.3%;
    right: 42.8%;
}

.matrix-diagram__number.-position-g3 {
    bottom: 2.5%;
    left: 41.7%;
}

.matrix-diagram__number.-position-g2 {
    bottom: 3.7%;
    left: 38.6%;
}

.matrix-diagram__number.-position-g4 {
    bottom: 5%;
    left: 35.3%;
}

.matrix-diagram__number.-position-g1 {
    bottom: 6.5%;
    left: 31.3%;
}

.matrix-diagram__number.-position-g7 {
    bottom: 7.8%;
    left: 28.3%;
}

.matrix-diagram__number.-position-g5 {
    bottom: 9.1%;
    left: 25.3%;
}

.matrix-diagram__number.-position-g6 {
    bottom: 10.5%;
    left: 22.1%;
}

.matrix-diagram__number.-position-t3 {
    bottom: 21.8%;
    left: 10.4%;
}

.matrix-diagram__number.-position-t2 {
    bottom: 24.9%;
    left: 9.4%;
}

.matrix-diagram__number.-position-t4 {
    bottom: 28%;
    left: 7.9%;
}

.matrix-diagram__number.-position-t1 {
    bottom: 31.4%;
    left: 6.3%;
}

.matrix-diagram__number.-position-t5 {
    bottom: 37.6%;
    left: 4.1%;
}

.matrix-diagram__number.-position-t6 {
    bottom: 34.3%;
    left: 5.3%;
}

.matrix-diagram__number.-position-t7 {
    bottom: 41.2%;
    left: 2.3%;
}

.matrix-diagram__number.-position-a5 {
    top: 40.4%;
    left: 2.8%;
}

.matrix-diagram__number.-position-a4 {
    top: 37.3%;
    left: 4.1%;
}

.matrix-diagram__number.-position-a6 {
    top: 34%;
    left: 5.2%;
}

.matrix-diagram__number.-position-f1 {
    top: 30.8%;
    left: 6.4%;
}

.matrix-diagram__number.-position-f3 {
    top: 27.6%;
    left: 7.8%;
}

.matrix-diagram__number.-position-f2 {
    top: 24.4%;
    left: 9.3%;
}

.matrix-diagram__number.-position-f4 {
    top: 20.7%;
    left: 10.7%;
}

.matrix-diagram__number.-position-f7 {
    top: 10.8%;
    left: 22.1%;
}

.matrix-diagram__number.-position-f6 {
    top: 9.4%;
    left: 25.5%;
}

.matrix-diagram__number.-position-f8 {
    top: 8%;
    left: 28.8%;
}

.matrix-diagram__number.-position-f5 {
    top: 6.4%;
    left: 32%;
}

.matrix-diagram__number.-position-b5 {
    top: 5.3%;
    left: 35.1%;
}

.matrix-diagram__number.-position-b4 {
    top: 4%;
    left: 38.4%;
}

.matrix-diagram__number.-position-b6 {
    top: 3%;
    left: 42%;
}


@media only screen and (min-width: 400px){
    .matrix-diagram__number.-position-f4 {
        top: 21.1%;
        left: 11.1%;
    }

    .matrix-diagram__number.-position-f2 {
        top: 24.8%;
        left: 9.7%;
    }

    .matrix-diagram__number.-position-f3 {
        top: 28%;
        left: 8.2%;
    }

    .matrix-diagram__number.-position-f1 {
        top: 31.2%;
        left: 6.8%;
    }

    .matrix-diagram__number.-position-a6 {
        top: 34.4%;
        left: 5.6%;
    }

    .matrix-diagram__number.-position-a4 {
        top: 37.7%;
        left: 4.5%;
    }

    .matrix-diagram__number.-position-a5 {
        top: 40.8%;
        left: 3.2%;
    }

    .matrix-diagram__number.-position-t7 {
        bottom: 41.6%;
        left: 2.7%;
    }

    .matrix-diagram__number.-position-t6 {
        bottom: 34.7%;
        left: 5.7%;
    }

    .matrix-diagram__number.-position-t5 {
        bottom: 38%;
        left: 4.1%;
    }

    .matrix-diagram__number.-position-k8 {
        top: 22.3%;
        right: 10.9%;
    }

    .matrix-diagram__number.-position-k7 {
        top: 25.6%;
        right: 9.6%;
    }

    .matrix-diagram__number.-position-k6 {
        top: 28.7%;
        right: 8.2%;
    }

    .matrix-diagram__number.-position-c4 {
        top: 31.6%;
        right: 6.9%;
    }

    .matrix-diagram__number.-position-c6 {
        top: 34.7%;
        right: 5.8%;
    }

    .matrix-diagram__number.-position-c5 {
        top: 37.9%;
        right: 4.4%;
    }

    .matrix-diagram__number.-position-c7 {
        top: 41.6%;
        right: 2.7%;
    }

    .matrix-diagram__number.-position-y3 {
        bottom: 40.6%;
        right: 3.2%;
    }

    .matrix-diagram__number.-position-y2 {
        bottom: 37.7%;
        right: 4.4%;
    }

    .matrix-diagram__number.-position-y4 {
        bottom: 34.4%;
        right: 5.6%;
    }

    .matrix-diagram__number.-position-y1 {
        bottom: 31.2%;
        right: 6.9%;
    }

    .matrix-diagram__number.-position-y6 {
        bottom: 28.1%;
        right: 8.1%;
    }

    .matrix-diagram__number.-position-y5 {
        bottom: 24.6%;
        right: 9.6%;
    }

    .matrix-diagram__number.-position-y7 {
        bottom: 21.2%;
        right: 10.9%;
    }

    .matrix-diagram__number.-position-t3 {
        bottom: 22.2%;
        left: 10.8%;
    }

    .matrix-diagram__number.-position-t2 {
        bottom: 25.3%;
        left: 9.8%;
    }

    .matrix-diagram__number.-position-t4 {
        bottom: 28.4%;
        left: 8.3%;
    }

    .matrix-diagram__number.-position-t1 {
        bottom: 31.6%;
        left: 6.7%;
    }
}


.resultBlock{
    margin-top: 50px;
    padding-bottom: 80px;
}

.resultBlock .cont{
    justify-content: space-between;
}

.resultBlock .schemeBlock{
    position: relative;
    width: 680px;
    max-width: 100%;
}

.resultBlock .data{
    width: calc(100% - 710px);
    max-width: 400px;
}

.resultBlock .data .box_result{
    padding: 35px 45px;
    border: 1px solid #fff;
    backdrop-filter: blur(13px);
    border-radius: 20px;
    margin-bottom: 45px;
    background: #ffd85c;
    /*background: #FFED47;*/
    /*background-color: rgba(191, 145, 0, .3);*/
}

.resultBlock .data .items{
    --margin-left: 50px;
    --margin-bottom: 22px;
    margin-left: calc(var(--margin-left) * -1);
    margin-bottom: calc(var(--margin-bottom) * -1);
}

.resultBlock .data .item{
    margin-left: var(--margin-left);
    margin-bottom: var(--margin-bottom);
}

.resultBlock .data .item .name{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
}

.resultBlock .data .item .val{
    font-size: 18px;
}

.resultBlock .data .title{
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 15px;
}

.resultBlock .data .columns{
    --margin-left: 30px;
    --margin-bottom: 25px;
    --items: 2;
    margin-left: calc(var(--margin-left) * -1);
    margin-bottom: calc(var(--margin-bottom) * -1);
}

.resultBlock .data .column{
    margin-left: var(--margin-left);
    margin-bottom: var(--margin-bottom);
    width: calc(100% / var(--items) - var(--margin-left));
}

.resultBlock .data .column_title{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
}

.resultBlock .data * + .column_title{
    margin-top: 20px;
}

.resultBlock .data table{
    width: 100%;
    border-collapse: collapse;
}

.resultBlock .data table td{
    padding-left: 8px;
    font-size: 18px;
}

.resultBlock .data table td:first-child{
    padding-left: 0;
}

.resultBlock .data table td.circle{
    width: 31px;
}

.resultBlock .data table b{
    font-weight: 700;
}

.resultBlock .data .feature{
    margin-top: 25px;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-bottom: -10px;
}

.resultBlock .data .feature .name{
    font-weight: 700;
    margin-left: 10px;
    margin-bottom: 10px;
}

.resultBlock .data .feature .val{
    margin-left: 10px;
    margin-bottom: 10px;
}

.resultBlock .data table td span,
.resultBlock .data .feature .val span{
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 1px solid;
    color: #222831;
    display: block;
    text-align: center;
    margin: 3px 0;
    padding-top: 1px;
}

.resultBlock .data .feature .val span{
    margin: 0;
}


.socials{
    margin-top: 80px;
    justify-content: center;
    --margin-left: 35px;
    --margin-bottom: 25px;
    margin-left: calc(var(--margin-left) * -1);
    margin-bottom: calc(var(--margin-bottom) * -1);
}

.socials .soc{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    text-decoration: none;
    color: currentColor;

    margin-left: var(--margin-left);
    margin-bottom: var(--margin-bottom);
}

.socials .soc .text{
    border-bottom: 1px solid transparent;
    transition: 0.2s linear;
}

.socials .soc:hover .text{
    border-color: currentColor;
}

.socials .soc .icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    text-decoration: none;
    transition: 0.2s linear;
    margin-right: 15px;
}

.socials .soc:hover .icon{
    background: #fff;
    color: #000;
}

.socials .soc svg{
    display: block;
    max-width: 100%;
    max-width: 100%;
}


/*---------------
   Footer
---------------*/
footer{
    flex: 0 0 auto;
}
/*---------------
   PopUp
---------------*/
